body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: justify;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header h1 {
    margin: 10px 0;
    font-size: 2.5em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.intro p {
    margin-bottom: 15px;
}

.intro a {
    color: #007acc;
    text-decoration: none;
}

.intro a:hover {
    text-decoration: underline;
}

.certifications h2 {
    margin-bottom: 0%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 0px solid #ddd;
    padding: 4px;
    text-align: left;
    font-size: 15px;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody a {
    color: #007acc;
    text-decoration: none;
}

tbody a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer i {
    display: inline;
    margin: 0 15px;
}

footer a i {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}